<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="neeti.contactapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_INTERNET"/>

    <application
        tools:replace="android:label"
        android:name=".ContactApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="ContactApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Pin Contact">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:label="Register" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Reset Password" />
        <activity
            android:name=".AddUserInfo"
            android:label="Complete your profile" />
        <activity
            android:name=".AddContactActivity"
            android:label="Add Contact" />
        <activity
            android:name=".AddAgendaActivity"
            android:label="Add Agenda" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBS8EAZdr7yBrD-4W3aiET2I74MfKOXjo4"/>
    </application>

</manifest>