<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="neeti.contactapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ContactApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="ContactApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".LoginActivity"
            android:label="Pin Contact">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:label="Register" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Reset Password" />
        <activity
            android:name=".AddUserInfo"
            android:label="Complete your profile" />
        <activity
            android:name=".AddContactActivity"
            android:label="Add Contact" />
        <activity
            android:name=".AddAgendaActivity"
            android:label="Add Agenda" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6lWI6upw5jLDvH7excw4HAGJsQchL71Q" />

        <activity android:name=".ContactMapActivity"
            android:label="Explore Contacts"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".AgendaMapActivity"
            android:label="Explore Agenda"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ContactInfoActivity"></activity>
    </application>

</manifest>